.bgCover {
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0),rgba(0,0,0,0.9)),url('./imgs/netflix-back.png');
    height: 600px;
    background-size: cover;
}

.widthInput{
    width: 500px;

}

.inputBox{
    width: 500px;
}

.videoSize {
    position: relative;
    bottom: 260px;
    left: 120px;
}




@media all and (min-width: 1134px) and (max-width: 1280px) {
    .videoPic{
        width: 350px;
    }
 }


@media all and (min-width: 768px) and (max-width: 1024px) { 
  
    .videoPic{
        width: 350px;
    }
}
 
@media all and (min-width: 480px) and (max-width: 768px) { 
    .videoCen {
        text-align: none;
    }
    
}
 
@media all and (max-width: 480px) { }
 